footer {
    background-color: #422D20;
    color: #F8F4EF;
    padding: 40px 5%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 10%;
    gap: 20px;
}

.footer-section {
    flex: 0 0 auto;
    min-width: 200px;
}
.footer-bottom {
    width: 100%;
    text-align: center;
    border-top: 2px solid #5c4033;
}

@media (max-width: 480px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 10%;
        gap: 20px;
    }
}