:root {
    --beige: #DDB899;
    --cafe-medio: #7B5232;
    --cafe-oscuro: #422D20;
    --rojo: #8E1F1B;
    --cafe-rosado: #A9745C;
    --white: #FFFFFF;
    --negro: #000000;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--cafe-oscuro);
}

.btn-primary {
  background-color: var(--cafe-rosado);
  border-color: var(--cafe-rosado);
}

.btn-primary:hover {
  background-color: var(--cafe-medio);
  border-color: var(--cafe-medio);
}

.btn-outline-primary {
  color: var(--cafe-rosado);
  border-color: var(--cafe-rosado);
}

.btn-outline-primary:hover {
  background-color: var(--cafe-rosado);
  color: var(--white);
  border-color: var(--cafe-rosado);
}

.text-danger {
  color: var(--cafe-rosado) !important;
}

.img-fluid {
  border-radius: 12px;
  border: 5px solid var(--cafe-oscuro);
  box-shadow: 0 4px 10px var(--negro);
  max-width: 100%;
  height: auto;
}

.motivos i {
  color: var(--cafe-rosado);
  margin-bottom: 10px;
}


.info-rapida {
  display: flex;
  justify-content: center;
  gap: 40px; 
  margin-top: 20px;
}

.info-rapida div {
  display: flex;
  flex-direction: column; 
  text-align: center;
}

.info-rapida i {
  color: var(--cafe-rosado);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  h1, h2 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .img-fluid {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .row.align-items-center {
    flex-direction: column;
    text-align: center;
    padding: 30px 15px;
  }

  .col-lg-6 {
    max-width: 100%;
  }

  h1, h2 {
    font-size: 26px;
  }

  .d-flex.flex-wrap {
    justify-content: center;
  }

  .img-fluid {
    max-width: 100%;
    margin: 0 auto;
  }

  .info-rapida {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 22px;
  }

  p {
    font-size: 15px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
